body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

nav {
  width: 100%;
  margin-bottom: 0.75rem;
  background-color: var(--card-bg);
  color: var(--card-fg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  overflow-x: auto;
  padding: 0.75rem;
  overflow: no-scroll;
}

nav > * {
  margin: 0 0.4rem;
}

section {
  margin: 1rem;
}

.order-form {
  display: flex;
  flex-flow: row wrap;
  gap: 0.3rem;
  align-items: flex-end;
}

.order-form > div {
  display: flex;
  flex-flow: column nowrap;
}

.order-form input {
  width: 8rem;
}

.order-form > button {
  height: 2rem;
}

.orders {
  max-width: 100%;
  overflow-x: auto;
}

.orders > tbody > tr:nth-of-type(2n + 3) {
  background-color: #ddd;
}

.orders > tbody > tr:nth-of-type(2n + 4) {
  background-color: #bbb;
}

th > input {
  width: 4rem;
}

th,
td {
  padding: 0.4rem;
}
