nav {
  width: 100%;
  margin-bottom: 0.75rem;
  background-color: var(--card-bg);
  color: var(--card-fg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  overflow-x: auto;
  padding: 0.75rem;
}

section {
  margin: 1rem;
}

.orders > tbody > tr:nth-of-type(2n + 3) {
  background-color: #ddd;
}

.orders > tbody > tr:nth-of-type(2n + 4) {
  background-color: #bbb;
}

th,
td {
  padding: 0.4rem;
}
