{% extends "main.html" %}

{% block title %}Hlavní sklad{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ 'static/styles/loading/loading.css' }}" />
{% endblock %}

{% block body %}
<ol class="trains">
  {% for id, train in data.items() %}
  <li>
    <div class="departure-time">
      <label>Čas odjezdu</label>
      <time>{{train.time.strftime("%H:%M")}}</time>
    </div>
    <table class="materials">
      <tr>
        <th class="material-name">Materiál</td>
        <th class="amount">Množství</td>
      </tr>
      {% for order in train.get_orders() %}
      <tr>
        <td class="material-name">{{order.material.material_id}}</td>
        <td class="amount">{{order.quantity}}</td>
      </tr>
      {% endfor %}
    </table>
  </li>
  {% endfor %}
</ol>
{% endblock %}
