{% extends "main.html" %}

{% block title %}Hlavní sklad{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ 'static/styles/loading/loading.css' }}" />
{% endblock %}

{% block body %}
<ol class="trains">
  {% for id, train in data.items() %}
  <li>
    <div class="train-name">{{train.name}}</div>
    <div class="departure-time">
      <label>Čas odjezdu</label>
      <time>{{train.time.strftime("%H:%M")}}</time>
    </div>
    <ul class="materials">
      <li>
        <label>Materiál</label>
        <label>Množství</label>
      </li>
      {% for name, amount in train.materials %}
      <li>
        <div class="material-name">{{name}}</td>
        <div class="amount">{{amount}}</td>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ol>
{% endblock %}
