<form id="order-form" method="POST" target=".">
  <input type="hidden" name="id" id="order-id" />
  <table class="orders">
    <tr>
      {% if multiple_warehouses %}
      <th>Sklad</th>
      {% endif %}
      <th>Materiál</th>
      <th>Množství</th>
      <th>Čas objednávky</th>
      <th>Čas odeslání</th>
      <th></th>
    </tr>
    {% for order in orders %}
    <tr>
      {% if multiple_warehouses %}
      <td>{{order.warehouse}}</td>
      {% endif %}
      <td>{{order.material}}</td>
      <td>{{order.amount}}</td>
      <td><time>{{order.order_time.strftime("%H:%M")}}</time></td>
      <td><time>{{order.departure_time.strftime("%H:%M")}}</time></td>
      <td><button type="submit" onclick="document.getElementById('order-id').value = '{{order.id}}';">Smazat</button></td>
    </tr>
    {% endfor %}
  </table>
</form>
