<script>window.filterFields =
{% if multiple_warehouses %}
  [[0, "warehouse"], [1, "material"]]
{% else %}
  [[0, "material"]]
{% endif %}
;</script>
<form id="order-form" method="POST" target=".">
  <input type="hidden" name="id" id="order-id" />
  <table class="orders">
    <tr>
      {% if multiple_warehouses %}
      <th>Stanoviště</th>
      {% endif %}
      <th>Materiál</th>
      <th>Množství</th>
      <th>Čas objednávky</th>
      <th>Čas odeslání</th>
      <th></th>
    </tr>
    <tr>
      {% if multiple_warehouses %}
      <th><input id="warehouse-filter" /></th>
      {% endif %}
      <th><input id="material-filter" /></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for order in orders %}
    <tr>
      {% if multiple_warehouses %}
      <td>{{order.warehouse}}</td>
      {% endif %}
      <td>{{order.material}}</td>
      <td>{{order.amount}}</td>
      <td><time>{{order.order_time.strftime("%H:%M")}}</time></td>
      <td>
        {% if (order.departure_time) %}
        <time>{{order.departure_time.strftime("%H:%M")}}</time>
        {% else %}
            Ještě neurčeno
        {% endif %}
    </td>
        <td>
            <form method="post">
                {{ csrf_input }}
                <button type="submit" onclick="document.getElementById('order-id').value = '{{order.id}}';">Doručeno</button>
            </form>
        </td>
    </tr>
    {% endfor %}
  </table>
</form>
