{% block head %}
<head>
    <link rel="stylesheet" href="{{ '/static/libraries/dtsel/dtsel.css' }}" />
    <script src="{{ '/static/libraries/dtsel/dtsel.js' }}"></script>
    <script type="module">
        let instance = new dtsel.DTS("input[id='id_time']", {
            showTime: true,
            lang: "cs"
        });
    </script>
</head>
{% endblock %}

<form class="order-form" method="post">
    {{ csrf_input }}
    {% if multiple_warehouses %}
    <div>
        {{ form.warehouse.label }}
        <label>
            {{ form.warehouse }}
        </label>
    </div>
    {% endif %}
    <div>
        <label>
            {{ form.time.label }}
        </label>
        {{ form.time }}
    </div>
    <div>
        <label>
            {{ form.amount.label }}
        </label>
        {{ form.amount }}
    </div>
    <div>
        <label>
            {{ form.material.label }}
        </label>
        {{ form.material }}
    </div>
    <button type="submit">Objednat</button>
    <datalist id="materials-list">
        {% for material in materials %}
        <option value="{{ material }}">
        {% endfor %}
    </datalist>
</form>
