{% extends "main.html" %}

{% block title %}Mezisklad {{station_id}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ '/static/styles/station/station.css' }}" />
{% endblock %}

{% block nav %}
{% include 'station/nav.html' %}
{% endblock %}

{% block body %}
<section>
  <table class="orders">
    <tr>
      <th>Čas objednávky</th>
      <th>Materiál</th>
      <th>Množství</th>
      <th>Předpokládaný čas doručení</th>
    </tr>
    <tr>
      <td><time>12:15</time></td>
      <td>Kámen</td>
      <td>2</td>
      <td><time>12:24</time></td>
    </tr>
  </table>
</section>
<section>
    <form>
        {{ csrf_input }}
        {{ form }}
        <button type="submit">Objednat</button>
        <datalist id="materials-list">
            {% for material in materials %}
                <option value="{{ material }}">
            {% endfor %}
        </datalist>
    </form>
    {# Scheduled trains #}
</section>
{% endblock %}
