:root {
  --main-bg: #ccc;
  --card-bg: #335;
  --card-bg-odd: #335;
  --card-bg-even: #223;
  --card-fg: #fff;
}

body {
  background-color: var(--main-bg);
  font-family: sans-serif;
  font-weight: 500;
}

button {
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: inherit;
  padding: 0.5rem;
  text-transform: uppercase;
}

table {
  color: inherit;
  font-weight: inherit;
}

th,
td {
  padding: 0 0.3rem;
}

.buttons-stack {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
}
